.col-centered{
    float: none;
    margin: auto;
}
.back-vt{
    background-color: #88C425 !important;
}
.color-white{
    color: white !important;
}
.perfil{
    margin-left: 55px;
}
.cuenta{
    text-align: center !important;
    color: #E01017;
}
.ventana_arreglo{
    width: 80px !important;
    height: 200px !important;
}
.pedido{
    display: inline-block !important;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
}
.opc {
    width: 290px !important;
}
.opci {
    width: 350px !important;
}
.losh2{
    color:  #FE2E9A!important;
}
.losh4{
    color:  #FE2E9A!important;
}
.losp{
    color: #308DE4 !important;
}
.tamanio{
    font-size: 17px !important; 
}
.backcolor{
    background-color: #FE2E9A !important;
}
.estilobtn{
    background-color: #308DE4; 
    color: #FEFBFB; 
    font-size: 16px !important; 
    height: 38px ; width: 110px; 
    border-radius: 4px !important;
}
.coloricon{
    color: #88C425 !important;
}


